/*------------
IMPORT SHEETS ---------------------------*/

/* UTILS */
@import "/css/imports/utils/variables.css";
@import "/css/imports/utils//auth/messages.css";
@import "/css/imports/utils/auth/login.css";

/* COMPONENTS */
@import "/css/imports/components/loader.css";
@import "/css/imports/components/forms.css";
@import "/css/imports/components/carousel.css";

/* STATIC UI */
@import "/css/imports/components/staticUI/navBar.css";
@import "/css/imports/components/staticUI/footer.css";
@import "/css/imports/components/staticUI/backArrow.css";
@import "/css/imports/components/staticUI/pageTitles.css";
@import "/css/imports/components/staticUI/getBTN.css";

/* PRODUCTS */
@import "/css/imports/pages/products/homeProd.css";
@import "/css/imports/pages/products/product-list.css";
@import "/css/imports/pages/products/product.css";

/* ARTICLES */
@import "/css/imports/components/articles/articleModal.css";
@import "/css/imports/components/articles/articles.css";

/* PAGES */
@import "/css/imports/pages/home-styles.css";
@import "/css/imports/pages/about-styles.css";
@import "/css/imports/pages/contact-styles.css";
@import "/css/imports/pages/checkout/checkout-styles.css";
@import "/css/imports/pages/checkout/checkoutSuccess.css";

/*-----------------------------------------------*/

/*---------------------- COMMON STYLES -----------------------*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: var(--logo-dark-blue); /* var(--dark-blue-base); */
  font-weight: medium;
  font-family: sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}

hr {
  margin-bottom: 2%;
}

.logo {
  margin-left: 5%;
  width: 120px;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: translate(0, 0) scale(1.08);
}
