
/*---------------------------------------
Productlist page styles
---------------------------------------*/

        .productSlides {
            margin-top: 70px;
            margin-bottom: 30px;
            display: flex;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
        
    }

        .productSlides img {
            max-width: 100vw;
    }

        .productSlides > div {
            display: flex;
            flex-shrink: 0;
            width: 100%;
            height: 450px;
            scroll-snap-align: start;
            scroll-behavior: smooth;
            justify-content: center;
            align-items: center;
            animation: scroll 10s linear infinite;
    }

        #searchGames {
            width: 245px;
            height: 40px;
            border-radius: 8px;
            margin-top: 50px;
            border: solid rgba(20, 47, 204, 1);
            background-color: rgba(254, 254, 255, 1);
            transition: 0.5s;
    }

        #searchGames::placeholder {
            text-align: center;
    }

        input#searchGames {
            margin-left: 630px;
    }

        input#searchGames:hover {
            margin-left: 605px;
            width: 300px;
            border: 1px solid rgba(249, 114, 38, 0.8);
    }
  
        #gamingNav {
            width: 100%;
            z-index: 1;
            position: relative;
            text-align: center;
            margin-top: 60px;
            margin-bottom: 30px;
            transition: all 1s;
    }

        .products-section {
            box-sizing: border-box;
    }

        #product1-img,
        #product2-img,
        #product3-img,
        #product4-img,
        #product5-img,
        #product6-img,
        #product7-img,
        #product8-img,
        #product9-img,
        #product10-img,
        #product11-img,
        #product12-img,
        #product13-img,
        #product14-img,
        #product15-img,
        #product16-img {
            display: inline-table;
            margin-left: 135px;
            margin-top: 50px;
    }

        #product1-img,
        #product2-img,
        #product3-img,
        #product5-img,
        #product6-img,
        #product7-img,
        #product9-img,
        #product10-img,
        #product11-img,
        #product13-img,
        #product14-img,
        #product15-img {
            margin-right: 61px;
    }

        #product1-img:hover,
        #product2-img:hover,
        #product3-img:hover,
        #product4-img:hover,
        #product5-img:hover,
        #product6-img:hover,
        #product7-img:hover,
        #product8-img:hover,
        #product9-img:hover,
        #product10-img:hover,
        #product11-img:hover,
        #product12-img:hover,
        #product13-img:hover,
        #product14-img:hover,
        #product15-img:hover,
        #product16-img:hover {
            border-style: groove;                /*----DO SOMETHING NICE WITH HOVER ANIMATION FOR ALL PRODUCTS----*/
            border: none;
            padding: 0;
    }

        #expandBTN {
            position: relative;
            margin-top: 20px;
            margin-left: 700px;
            background-color: rgba(254, 254, 255, 1);
            border: none;
            cursor: pointer;
    }
/*------------------------------------------*/

/*--------------
Media screens
--------------------------*/

/*--------------------
media screen max-width 1370px
------------------------------*/

@media screen and (max-width: 1369px) {

        #product1-img,
        #product2-img,
        #product3-img,
        #product5-img,
        #product6-img,
        #product7-img,
        #product9-img,
        #product10-img,
        #product11-img,
        #product13-img,
        #product14-img,
        #product15-img {
            margin-right: 0;
    }

}
/*-------------------1369px END-----------------------*/

/*--------------------
media screen max-width 1025px
------------------------------*/

@media screen and (max-width: 1025px) {

        #searchGames {
            left: -240px;
            position: relative;
    }

        #expandBTN {
            margin-left: 450px;
    }

        .scroll-container {
            top: 100px;
            left: 450px;
    }

}
/*-------------------1025px END-----------------------*/


/*--------------------
media screen max-width 900px
------------------------------*/

@media screen and (max-width: 900px) {

        .productSlides {
            margin-bottom: 10px;
    }

        #searchGames {
            left: -305px;
    }

        .product-wrapper {
            margin-left: 90px;
    }

        #product1-img,
        #product2-img,
        #product3-img,
        #product4-img,
        #product5-img,
        #product6-img,
        #product7-img,
        #product8-img,
        #product9-img,
        #product10-img,
        #product11-img,
        #product12-img,
        #product13-img,
        #product14-img,
        #product15-img,
        #product16-img {
            padding: 10px;
            margin: 0;
    }

        #expandBTN {
        margin-left: 400px;
    }

        .scroll-container {
            top: 100px;
            left: 400px;
    }

}
/*--------------------900px END----------------------*/


/*--------------------
media screen max-width 770px
------------------------------*/

@media screen and (max-width: 770px) {

        #searchGames {
            left: -368px;
    }

        #expandBTN {
            margin-left: 340px;
    }
}
/*--------------------770px END----------------------*/

/*--------------------
media screen max-width 430px
------------------------------*/

@media screen and (max-width: 430px) {

        #searchGames {
            left: -540px;
    }

        .product-wrapper {
            margin-left: 32px;
    }

        #expandBTN {
            margin-left: 170px;
    }

        .scroll-container {
            top: 100px;
            left: 155px;
    }
}
/*--------------------430px END----------------------*/

/*--------------------
media screen max-width 375px
------------------------------*/

@media screen and (max-width: 375px) {

        #searchGames {
            left: -560px;
    }

        .product-wrapper {
            margin-left: 8px;
    }

        #expandBTN {
            margin-left: 140px;
    }

        .scroll-container {
            left: 135px;
    }
}
/*--------------------375px END----------------------*/


/*--------------------
media screen max-width 320px
------------------------------*/

@media screen and (max-width: 320px) {

        #searchGames {
            left: -590px;
    }

        #gamingNav img {
            width: 260px;
            height: auto;
    }

        .product-wrapper {
            margin-left: 8px;
    }

        #product1-img img,
        #product2-img img,
        #product3-img img,
        #product4-img img,
        #product5-img img,
        #product6-img img,
        #product7-img img,
        #product8-img img,
        #product9-img img,
        #product10-img img,
        #product11-img img,
        #product12-img img,
        #product13-img img,
        #product14-img img,
        #product15-img img,
        #product16-img img {
            width: 125px;
            height: auto;
    }

        #expandBTN {
            margin-left: 105px;
    }

        .scroll-container {
            left: 105px;
    }
}
/*--------------------320px END----------------------*/