

/*-----------------------------------------
cart            (only example of redirect pages)
profile         (only example of redirect pages)
------------------------------------------*/

/*-- All media queries are set underneath it's parent css block in the correct stylesheet --*/

/*------------------------------------------------------------------------------
COLORS in use:
dark blue(same as logo):    rgba(27, 32, 61, 1)
white background/text:      rgba(254, 254, 255, 1)
blue background box:        rgba(248, 248, 255, 1)
light blue:                 rgba(20, 47, 204, 0.6)
bright blue:                rgba(20, 47, 204, 0.95) / rgba(20, 47, 204, 1)
orange:                     rgba(249, 114, 38, 0.8) / rgba(249, 114, 38, 0.6)
-------------------------------------------------------------------------------*/




/*-------------------------------------------------
GLOBAL STYLES
-------------------------------------------------*/

    * {
        margin: 0;
        padding: 0;
        font-weight: medium;
        text-decoration: none;
        color: rgba(27, 32, 61, 1);
        font-family: Arial, Helvetica, sans-serif;
        scroll-behavior: smooth;
        box-sizing: border-box;
}

    html, body {    
        overflow-x: hidden;
}



    h1{
        text-align: center;   
        color: rgba(249, 114, 38, 0.8);                 /* <---- only example pages --*/
}



/*--------------------------------------------------------
Pagetitle for pages: About, Contact, Profile  */
    .page-title {
        padding: 50px;
        margin-top: 90px;
        background-color: rgba(20, 47, 204, 0.95);
}

@media screen and (max-width: 770px) {

        .page-title {
            margin-top: 50px;
    }
    
}

    .page-title h1 {
        color: rgba(254, 254, 255, 1);
        font-size: 50px;
        text-align: center;
        font-weight: normal;
        font-style: italic;
}
/*-------------------------------------------------------*/


/*Previous page arrow on checkout pages*/
    .arrowIcon {
        margin-top: 40px;
        margin-left: 150px;
}
/*-------------------------------------*/


/*Back to #top scroll ---------*/
    .scroll-container {
        position: relative;
        top: 140px;
        left: 750px;
        height: 100%;
        z-index: 100;
  }

    .scroll-container::before {
        display: none;
        pointer-events: none;
  }

    .scroll-container a {
        text-decoration: underline;
        cursor: pointer;
        font-size: 20px;
  }
  /*--------------END--------------*/



/*Seperation lines*/

    .topLine {
        width: auto;
        padding: 10px;
}

@media screen and (max-width: 770) {
    .topLine {
        padding: 10px;
        width: 920px;
    }
}

@media screen and (max-width: 430) {
    .topLine {
        padding: 10px;
        width: 960px;
    }
}

    .middleLine {
        margin-left: 80px;
        margin-right: 80px;
        margin-bottom: 20px;
}

    .bottomLine {
        padding: 5px 10px 10px 10px;
        position: relative;
        margin-top: 50px;
}
/*--------END---------*/



/*-- FORMS, FIELDSETS, INPUT-FIELDS -------------*/
    form ::placeholder {
        color: rgba(20, 47, 204, 0.6);
        text-align: center;
}

    fieldset, .inputFields {
        border: none;
        margin: none;
}

    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=number],
    input[type=date],
    select[name=payment],
    textarea {
        padding: 8px;
        margin-top: 10px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid rgba(20, 47, 204, 0.6);
        background-color: rgba(248, 248, 255, 1);
}

    input[type=submit] {
        width: 100px;
        padding: 10px;
        border-radius: 10px;
        justify-content: center;
        border: 1px solid rgba(20, 47, 204, 0.6);
        background-color: rgba(20, 47, 204, 1);
        color: rgba(254, 254, 255, 1);
  }
  /*-------------------END---------------------*/



/*----------------------------
FOOTER START
-----------------------------*/
    footer {
        display: flex;
        background-color: rgba(248, 248, 255, 1);
        margin-top: 100px;
        margin-bottom: 5px;
        width: 100%;
        height: 100px;
        justify-content: space-between;
        position: relative;
        top: 50px;
}

    .footerRow {
        position: relative;
        margin-left: 60px;
        margin-top: 40px;
}

    .copyright-text {
        font-weight: medium;
}

    .social-icons {
        position: relative;
        display: flex;
        list-style-type: none;
        margin-right: 60px;
        margin-top: 40px;
}

    .facebook, .instagram, .linkedin {
        padding-right: 40px;
}

/*----------------------------
Media query FOOTER
-----------------------------*/
@media screen and (max-width: 900px) {

    footer {
        margin-top: 100px;
        margin-bottom: 5px;
        width: 100%;
        height: 100px;
    }

    .footerRow {
        position: relative;
        margin-left: 20px;
        margin-top: 40px;
    }

    .copyright-text {
        font-size: 12px;
    }
    
    .social-icons {
        position: relative;
        margin-right: 20px;
        margin-top: 40px;
    }

    .facebook, .instagram, .linkedin {
        padding-right: 15px;
        width: 20px;
        height: auto;
    }

}

@media screen and (max-width: 770px) {

    footer {
        margin-top: 800px;
        margin-bottom: 5px;
        position: sticky;
    }

    .footerRow {
        position: relative;
        margin-left: 20px;
        margin-top: 40px;
    }

    .copyright-text {
        font-size: 12px;
    }
    
    .social-icons {
        position: relative;
        margin-right: 20px;
        margin-top: 40px;
    }

    .facebook, .instagram, .linkedin {
        padding-right: 15px;
        width: 20px;
        height: auto;
    }

}
/*--------------END--------------*/


/*----------------------------
TOP of pages START
-----------------------------*/
.logo {
    margin-top: 15px;
    margin-left: 40px;
    width: 160px;
    cursor: pointer;
    position: relative;
}

@media screen and (max-width: 900px){
    .logo {
        width: 160px;
        margin-left: 35px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1480px){
    .logo {
        margin-left: 80px;
    }
}

.container {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@media screen and (max-width: 900px){
    .container{
        padding-left: 2%;
        padding-right: 2%;
    }
}


/*--------------
NAVIGATION BAR
---------------*/

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 500;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1;
    right: 30px;
    position: relative;
    text-align: right;
    margin-top: 10px;
}

#current {
    font-weight: bolder;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}

nav ul li a {
    color: rgba(27, 32, 61, 1); /*background-white for mobile screens?: rgba(254, 254, 255, 1);*/
    font-size: 16px;
}

nav ul li a:hover {
    color: rgba(249, 114, 38, 1); /*darker orange?: rgba(204, 86, 20, 0.8);*/
}

/*------------
 Media queries for NAVBAR, menu icon and dropdown list
 -----------------------------------------------------*/
@media screen and (max-width: 430px) {

    .menu-icon {
        position: relative;
        right: 40px;
    }

    #menuList {
        position: absolute;
        overflow: hidden;
        transition: 0.5s;
        right: -60px;
        top: 12px;
        width: 100vw;
    }
}

@media screen and (max-width: 770px) {
    .menu-icon {
        position: relative;
        right: 40px;
    }

    #menuList {
        right: -60px;
        top: 12px;
        width: 100vw;
    }
}

@media screen and (max-width: 960px) {
    
    #menuList {
        right: -60px;
        top: 12px;
        width: 100vw;
    }
}

@media screen and (max-width: 1023px) {
    .menu-icon {
        display: block;
        position: relative;
        right: 40px;
    }

    nav ul {
        background: linear-gradient(rgba(20, 47, 204, 0.8), rgba(20, 47, 204, 0.4));
        position: absolute;
        width: 100%;
        height: 200px;
        top: 78px;
        right: 0;
        z-index: 2;
    }

    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: rgba(254, 254, 255, 1);
    }

    nav ul li a:hover {
        color: rgba(249, 114, 38, 1);
    }

    #menuList {
        overflow: hidden;
        transition: 0.5s;
        right: -60px;
        top: 12px;
        width: 100vw;
    }

    #current {
        font-weight: bolder;
        color: rgba(27, 32, 61, 1);
    }
}

@media screen and (min-width: 1480px) {
    nav ul li .rightNavElement {
        margin-right: 60px;
    }
}

/*----------------GLOBAL STYLES END------------------------*/


  
/*--------------------
Profile page styles
---------------------*/

.logInForm {
    display: block;
    text-align: center;
 }

 /*---------------END---------------*/
