/*----------------------
In order:
global styles
top and bottom
home
specific product
productlist
about
contact
checkout
checkout success
cart            (only example of redirect)
login           (only example of redirect)
------------------------------------------*/

/*-- All media queries are set underneath it's parent css block --*/

/*---------------------------------------------
COLORS in use:
dark blue(same as logo):    rgba(27, 32, 61, 1)
white background:           rgba(254, 254, 255, 1)
blue background box:        rgba(248, 248, 255, 1)
light blue:                 rgba(20, 47, 204, 0.6)
bright blue:                rgba(20, 47, 204, 0.95) / rgba(20, 47, 204, 1)
orange:                     rgba(249, 114, 38, 0.8)
---------------------------------------------------*/


/*-- GLOBAL STYLES START --*/
* {
    margin: 0;
    padding: 0;
    font-weight: medium;
    text-decoration: none;
    color: rgba(27, 32, 61, 1);
    font-family: Arial, Helvetica, sans-serif;
}

/*html {
box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
} ------------------------------------------------------------------------------- Check out if this is interesting to use */

/*--------------------------------------------------------
Pagetitle for pages: About, Contact, Profile  */
.pageTitle {
    padding: 50px;
    margin-top: 90px;
    background-color: rgba(20, 47, 204, 0.95);
}

.pageTitle h1 {
    color: rgba(254, 254, 255, 1);
    font-size: 50px;
    text-align: center;
    font-weight: normal;
    font-style: italic;
}
/*-------------------------------------------------------*/

h1{
    text-align: center;   
    color: rgba(249, 114, 38, 0.8);                            /* <---- only example pages --*/
}

.topLine {
    padding: 10px;
}
.middleLine {
    margin-left: 80px;
    margin-right: 80px;
}
.bottomLine {
    padding: 5px 10px 10px 10px;
}

/*-- FORMS, FIELDSETS, INPUT-FIELDS--*/
form ::placeholder {
    color: rgba(20, 47, 204, 0.6);
    text-align: center;
}

fieldset, .inputFields {
    border: none;
    margin: none;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=number],
input[type=date],
select[name=payment],
textarea {
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgba(20, 47, 204, 0.6);
    background-color: rgba(248, 248, 255, 1);
}

input[type=submit] {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    border: 1px solid rgba(20, 47, 204, 0.6);
    background-color: rgba(20, 47, 204, 1);
    color: rgba(254, 254, 255, 1);
  }

/*-- GLOBAL STYLES END--*/



/*-- TOP AND BOTTOM OF PAGES START--*/
/*FOOTER START----------------------------*/
footer {
    display: flex;
    background-color: rgba(248, 248, 255, 1);
    margin-top: 100px;
    margin-bottom: 5px;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}
.footerRow {
    position: relative;
    margin-left: 60px;
    margin-top: 40px;
}
.copyright-text {
    font-weight: medium;
}

.social-icons {
    position: relative;
    display: flex;
    list-style-type: none;
    margin-right: 60px;
    margin-top: 40px;
}
.facebook, .instagram, .linkedin {
    padding-right: 40px;
}
/*FOOTER END----------------------------*/

.logo {
    margin-top: 15px;
    margin-left: 40px;
    width: 160px;
    cursor: pointer;
    position: relative;
}
@media screen and (max-width: 900px){
    .logo {
        width: 160px;
        margin-left: 15px;
        margin-top: 40px;
    }
}
@media screen and (min-width: 1480px){
    .logo {
        margin-left: 80px;
    }
}

.container {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
@media screen and (max-width: 900px){
    .container{
        padding-left: 2%;
        padding-right: 2%;
    }
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    display: none;
    margin-right: 20px;
}

nav {
    flex: 1;
    text-align: right;
    margin-top: 10px;
}
#current {
    font-weight: bolder;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    color: rgba(27, 32, 61, 1); /*background-white for mobile screens?: rgba(254, 254, 255, 1);*/
    font-size: 16px;
}
nav ul li a:hover {
    color: rgba(249, 114, 38, 1); /*darker orange?: rgba(204, 86, 20, 0.8);*/
}
@media screen and (max-width: 1000px){
    .menu-icon {
        display: block;
    }
    nav ul {
        width: 100%;
        height: 200px;
        background: linear-gradient(rgba(20, 47, 204, 0.8), rgba(20, 47, 204, 0.4));
        position: absolute;
        top: 78px;
        right: 0;
        z-index: 2;
    }
    nav ul li {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: rgba(254, 254, 255, 1);
    }
    nav ul li a:hover {
        color: rgba(249, 114, 38, 1);
    }
    #menuList {
        overflow: hidden;
        transition: 0.5s;
    }
    #current {
        font-weight: bolder;
        color: rgba(27, 32, 61, 1);
    }
}
@media screen and (min-width: 1480px){
    nav ul li .rightNavElement {
        margin-right: 60px;
    }
}
/*------------------------------------------*/



/*Home START ----------------------------------*/
/*rewrite this carousel??*/
.homepageCarousel {
    margin-top: 70px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.homepageCarousel div {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 450px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    animation: scroll 10s linear infinite;
}
.homepageCarousel img {
    max-width: 100vw;
}

   #getBTN {
    background-color: rgba(20, 47, 204, 0.95);
    border-color: rgba(20, 47, 204, 0.95);
    color: rgba(254, 254, 255, 1);
    border-style: solid;
    border-radius: 20px;
    position: absolute;
    top: 475px;
    right: 42%;
    font-size: 20px;
    padding: 16px 30px;
    cursor: pointer;
    transition: width 0.5s;
    z-index: 10;
  }
  @media screen and (max-width: 600px) {
    #getBTN {
    transform: translateX(-50%);
    display: flex;
    top: 400px;
    left: 50%;
    right: auto;
    }
  }
  #getBTN img {
    width: 30px;
    display: none;
  }
  #getBTN:hover img {
    display: block;
  }
  #getBTN:hover {
    width: 300px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .row1, .row2, .row3, .row4 {
    display: flex;
    padding: 1px;
  }

  .product1-container {
    padding: 0;
    justify-content: center;
    z-index: 100;
  }
  .product1-container h1 {
    font-size: larger;
    text-align: start;
    margin-bottom: 20px;
  }

  .product1-container p {
    line-height: 1.5;
  }
  .product1-container h1,
  .product1-container p {
    margin-left: 665px;
    /*color: rgba(254, 254, 255, 1);*/
  }


  .col-1 {
    margin-bottom: none;
    padding: none;
    z-index: 1;
  }
  .color-box1 {
    width: 835px;
    height: 550px;
    position: absolute;
    z-index: -1;
    background: rgba(20, 47, 204, 0.95);
  }
  .col-1,
  .color-box1,
  .col-2,
  .color-box2 {
    margin-top: 20px;
    border: none;
  }
  .col-2 {
    position: absolute;
    margin-left: 56%;
    margin-bottom: 0;
    padding: none;
    z-index: 1;
  }
  .color-box2 {
    position: absolute;
    width: 662.5px;
    height: 680px;
    margin-left: 846px;
    padding: none;
    border: none;
    z-index: 0;
    background-color: rgba(20, 47, 204, 0.95);
  }
  .col-3 {
    margin-top: 5px;
  }
  .color-box3 {
    position: absolute;
    margin-top: 8px;
    padding: none;
    border: none;
    width: 835px;
    height: 664px;
    z-index: -1;
    background-color: rgba(20, 47, 204, 0.95);
  }
  .col-4 {
    margin-left: 12px;
    padding-top: 9%;
  }
  .col-5 {
    margin-top: 5px;
    margin-bottom: none;
    padding: none;
    flex-basis: 40%;
    z-index: 1;
  }
  .color-box4 {
    margin-top: 5px;
    width: 835px;
    height: 550px;
    position: absolute;
    z-index: -1;
    background: rgba(20, 47, 204, 0.95);
  }
  .col-6 {
    position: relative;
    margin-top: 5px;
    margin-left: 212px;
    margin-bottom: 0;
    padding: none;
    border: none;
    z-index: 2;
  }
  .color-box5 {
    position: absolute;
    margin-top: 5px;
    width: 660px;
    height: 680px;
    margin-left: 847px;
    padding: none;
    border: none;
    z-index: 0;
    background-color: rgba(20, 47, 204, 0.95);
  }
  .col-7 {
    margin-top: 5px;
  }
  .color-box6 {
    position: absolute;
    margin-top: 8px;
    padding: none;
    border: none;
    width: 835px;
    height: 664px;
    z-index: -1;
    background-color: rgba(20, 47, 204, 0.95);
  }
  .col-8 {
    margin-left: 12px;
    padding-top: 9%;
  }
  /*------------------------------------------*/
  

  /*specific product START--------------------------*/
  .productIMG {
    position: relative;
    width: 100%;
    top: 80px;
    padding: none;
    margin: 0;
    z-index: 0;
}

#addToCartBox {
    top: -480px;
    left: 150px;
    padding: none;
    width: 500px;
    height: 400px;
    position: relative;
    border-radius: 10px;
    background-color: rgba(20, 47, 204, 0.8);
}

#title, #title p  {
    color: rgba(254, 254, 255, 1);
    text-align: center;
    position: absolute;
    top: 40%;
    left: 200px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: fantasy;
    padding-bottom: 20px;
    z-index: 2;
}
#tagline p, #price p {
    text-align: center;
    position: absolute;
    top: 56%;
    left: 400px;
    font-size: 20px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: rgba(254, 254, 255, 1);
    z-index: 2;
}

#productBox {
    background-color: rgba(20, 47, 204, 0.95);
    position: absolute;
    margin: none;
    padding: none;
    border: none;
    width: 100%;
    height: 600px;
    top: 750px;
    z-index: -1;
}

.addToCartBTN {
    position: absolute;
    top: 70%;
    left: 400px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:  rgba(254, 254, 255, 1);
    border-color: rgba(20, 47, 204, 0.95);
    color: rgba(20, 47, 204, 0.95);
    border-style: solid;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 30px;
    border-radius: 24px;
    cursor: pointer;
    z-index: 3;
    transition: width 0.3s;
}
.addToCartBTN:hover {
    width: 220px;
    font-size: 22px;
    justify-content: center;
    border: 2px solid rgba(249, 114, 38, 0.8);
  }

  .productText-container {
    position: absolute;
    top: 800px;
  }

  .productText {
    float: left;
    margin-right: 250px;
    margin-left: 180px;
    margin-top: 50px;
  }

  .productText p {
    color: rgba(254, 254, 255, 1);
    line-height: 25px;
    font-weight: 50;
    font-size: 16px;
  }

  .productTextIcons {
    float: right;
    margin-top: 70px;
  }
  
  .ingameIMGs {
    position: relative;
    margin-left: 175px;
  }

  .gamingIcons {
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 360px;
  }

  .seperationLine {
    position: relative;
    margin-left: 80px;
    margin-right: 80px;
  }
  /*------------------------------------------*/


/*products START --------------------------*/
.productSlides {
    margin-top: 70px;
    margin-bottom: 30px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
}
@media screen and (max-width: 900px) {
    .productSlides {
        margin-bottom: 10px;
    }
}

.productSlides img {
    max-width: 100vw;
}

.productSlides > div {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 450px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    animation: scroll 10s linear infinite;
}

#searchGames {
    width: 245px;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    border: solid rgba(20, 47, 204, 1);
    background-color: rgba(254, 254, 255, 1);
    transition: 0.5s;
}
#searchGames::placeholder {
    text-align: center;
}
input#searchGames {
    margin-left: 370px;
}
input#searchGames:hover {
    margin-left: 340px;
    width: 300px;
    border: 1px solid rgba(249, 114, 38, 0.8);
}
  
#gamingNav {
    width: 100%;
    z-index: 1;
    position: relative;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;
    transition: all 1s;
}

#product1-img,
#product2-img,
#product3-img,
#product4-img,
#product5-img,
#product6-img,
#product7-img,
#product8-img,
#product9-img,
#product10-img,
#product11-img,
#product12-img,
#product13-img,
#product14-img,
#product15-img,
#product16-img {
    display: inline-table;
    margin-left: 35px;
    margin-top: 50px;
}

#product1-img,
#product2-img,
#product3-img,
#product5-img,
#product6-img,
#product7-img,
#product9-img,
#product10-img,
#product11-img,
#product13-img,
#product14-img,
#product15-img {
    margin-right: 61px;
}


/*media screens for product-imgs*/
@media screen and (max-width: 900px) {
    #product1-img,
    #product2-img,
    #product3-img,
    #product4-img,
    #product5-img,
    #product6-img,
    #product7-img,
    #product8-img,
    #product9-img,
    #product10-img,
    #product11-img,
    #product12-img,
    #product13-img,
    #product14-img,
    #product15-img,
    #product16-img {
    padding: 10px;
    margin: 0;
}

}
#product1-img:hover,
#product2-img:hover,
#product3-img:hover,
#product4-img:hover,
#product5-img:hover,
#product6-img:hover,
#product7-img:hover,
#product8-img:hover,
#product9-img:hover,
#product10-img:hover,
#product11-img:hover,
#product12-img:hover,
#product13-img:hover,
#product14-img:hover,
#product15-img:hover,
#product16-img:hover {
    border-style: groove;
    border: none;
    padding: 0;
}

#expandBTN {
    position: relative;
    margin-left: 455px;
    background-color: rgba(254, 254, 255, 1);
    border: none;
    cursor: pointer;
}
/*media screens for expandBTNs*/
@media screen and (max-width: 900px){
    #expandBTN {
        margin-left: 80%;
    }
}
/*------------------------------------------*/


/*About START--------------------------*/
#aboutPageBackground {
    position: absolute;
    margin-top: 30px;
    z-index: -1;
    width: 100%;
    height: 400px;
    background-color: rgba(248, 248, 255, 1);
    border: none;
}

.aboutPageText {
    margin-top: 100px;
    margin-bottom: 110px;
    text-align: center;
    z-index: 2;
}

.JoinBTN {
    text-decoration: underline;
}

.buyBTN, .sellBTN {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-style: solid;
    font-size: 20px;
    padding: 16px 30px;
    border-radius: 20px;
    cursor: pointer;
    z-index: 3;
    top: 90%;
}

.buyBTN:hover, .sellBTN:hover {
    border: 1px solid rgba(249, 114, 38, 0.8);
    width: 200px;
}

.buyBTN {
    left: 20%;
    background-color: rgba(20, 47, 204, 0.95);
    border-color: rgba(20, 47, 204, 0.95);
    color: rgba(254, 254, 255, 1);
}

.sellBTN {
    left: 80%;
    background-color:rgba(254, 254, 255, 1);
    border-color: rgba(20, 47, 204, 1);
    color: rgba(20, 47, 204, 0.95);
}

.aboutPageBackgroundIMGs {
    position: relative;
    top: 45px;
    text-align: center;
    z-index: 1;
}
/*------------------------------------------*/



/*Contact TEST START--------------------------*/
section {
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 250px;
    justify-content: center;
}
.accountsBox,
.communityBox,
.discountsBox,
.locationBox {
    background-color: rgba(248, 248, 255, 1);
    border: 1px solid rgba(20, 47, 204, 0.6);
    border-radius: 10px;
    display: inline-table;
    width: 250px;
    height: 200px;
}

#accountsText,
#communityText,
#discountsText,
#locationText {
    text-align: center;
    margin-top: 60px;
    color: rgba(20, 47, 204, 0.6);
}

.communityBox{
    margin-left: 125px;
}

.discountsBox {
    float: right;
}
.locationBox {
    margin-top: 40px;
    margin-left: 380px;

}

.inputFields, .messageText {
    text-align: center;
}

.contactForm {
    margin-top: 50px;
}
.sendBTN {
    margin-top: 10px;
    text-align: center;
  }
/*------------------------------------------*/


/*Checkout START--------------------------*/
.arrowIcon {
    margin-top: 40px;
    margin-left: 150px;
}

.logoCheckout {
   text-align: center;
    margin-top: 40px;
}
.logoCheckout .logo {
    width: 160px;
    margin: 0 0 15px 0;
}

.userInfoMember,
.userInfoMail,
.userInfoLogOut {
    margin-top: 5px;
    text-align: center;
    font-size: 14px;
    color: rgba(20, 47, 204, 0.6);
}
.userInfoLogOut {
    text-decoration: underline;
}
.checkoutLineTop,
.checkoutLineBottom {
    width: 750px;
}
.checkoutLineBottom {
    margin-left: 50px;
}

.checkoutPage {
    padding-top: 20px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: auto;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.checkoutDetails,
.checkoutForm {
    margin-left: 50px;
}

.checkoutForm {
    margin-top: 20px;
}

.checkoutFields {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#pick-up {
    margin-top: 10px;
}

#pick-up, #post-office {
    margin-right: 15px;
}

.promo-code {
    width: 145px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkoutFields input:hover,
.paymentFields input:hover,
.paymentFields select:hover,
input#promoCode:hover {
    border: 1px solid rgba(249, 114, 38, 0.8);
}

.paymentFields {
    width: 40%;
    grid-template-columns: repeat(2, 2fr);
}

#checkoutBTN {
    margin-top: 10px;
    margin-left: 650px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(20, 47, 204, 0.6);
    background-color: rgba(20, 47, 204, 1);
    color: rgba(254, 254, 255, 1);
    transition: 0.3s;
}
#checkoutBTN:hover {
    width: 210px;
    border-color: rgba(249, 114, 38, 0.8);
}
/*Checkout END --------------------------*/

/*Checkout success START--------------------------*/
.checkout-success {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.checkoutPage > h2 {
    margin-top: 50px;
}


/*Cart START--------------------------*/

/*Profile START--------------------------*/
.logInForm {
    display: block;
    text-align: center;
 }
