/*- Error message component -*/
.loadError-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  /*------------------------ FIX variables for coloring here --*/
  text-align: center;
  align-items: center;
  min-width: 300px;
  max-width: 1000px;
  height: 80px;
  padding: 1rem;
  color: var(--error-red-front);
  border: 2px solid var(--error-red-front);
  background: var(--error-red-back);
}

/*- Search error component -*/
.no-results {
  color: var(--white);
  background-color: var(--logo-dark-blue);
  width: 300px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 28px;
}

/*- Alert message component-*/
.alert-message {
  display: block;
  position: fixed;
  z-index: 500;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.alert-info {
  background-color: var(--alert-info);
}

.alert-success {
  background-color: var(--alert-success);
}

.alert-warning {
  background-color: var(--alert-warning);
}

.alert-error {
  background-color: var(--alert-error);
}

.alert-content {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  padding: 50px;
  border-radius: 22px;
  box-shadow: 0 5px 20px var(--alert-box-shadow);
  width: 30%;
  min-width: 300px;
  height: auto;
  text-align: center;
  z-index: 600;
}

.messageContent {
  font-size: 145%;
  font-weight: 600;
}

.close-alert {
  color: var(--dark-blue-base);
  margin-left: 1%;
  float: right;
  font-size: 42px;
  font-weight: 600;
  cursor: pointer;
}

.close-alert:hover {
  color: var(--bright-hover-blue-base);
}
