.faq-toggle-container {
  display: none;
  justify-self: center;
  margin: 10%;
  overflow: hidden;
  max-width: 1000px;
  min-width: 300px;
  height: auto;
}

.faqToggle-content {
  display: flex;
  max-width: 1000px;
  height: auto;
  padding: 20px;
  border-radius: 12px;
  background-color: antiquewhite;
}

.faqContentText {
  justify-self: center;
  height: auto;
  width: 100%;
}

.faqContentText,
.close-faq {
  animation: scrollIn 0.5s ease-out forwards;
}

@keyframes scrollIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close-faq {
  color: var(--bright-hover-blue-base);
  width: fit-content;
  margin-left: 10%;
  margin-top: -2%;
  float: right;
  font-size: 42px;
  font-weight: 600;
  cursor: pointer;
}

.close-faq:hover {
  color: var(--dark-blue-base);
}
