.loader {
  border: 16px solid var(--white);
  border-top: 16px solid var(--blue-base);
  border-radius: 100%;
  /* width: 150px;
  height: 150px; */
  width: 20%;
  height: 20%;
  animation: spin 2s linear infinite;
  margin-left: 5%;
  margin-top: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
