
/*----------------------------------------------
Home page styles
----------------------------------------------*/


.homepageCarousel {
    margin-top: 70px;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.homepageCarousel div {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 450px;
    scroll-snap-align: start;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    animation: scroll 10s linear infinite;
}

.homepageCarousel img {
    max-width: 100vw;
}

   #getBTN {
    background-color: rgba(20, 47, 204, 0.95);
    border-color: rgba(20, 47, 204, 0.95);
    color: rgba(254, 254, 255, 1);
    border-style: solid;
    border-radius: 20px;
    position: absolute;
    top: 475px;
    right: 42%;
    font-size: 20px;
    padding: 16px 30px;
    cursor: pointer;
    z-index: 10;
  }

  #getBTN img {
    width: 30px;
    margin-top: 2px;
    margin-left: 5px;
  }

  #getBTN:hover {
    border-color: rgba(57, 87, 255, 0.95);
    background-color: rgba(57, 87, 255, 0.95);
  }

.home-container {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 20px;
  max-width: 100%;
  height: auto;
}

.home-container h1,
.home-container p,
.home-container b {
  color: rgba(254, 254, 255, 1);
}

.column {
  position: relative;
}

.col-1 img {
  margin-left: 5px;
}

.color-box1 {
  top: 0;
  left: 85px;
  width: 750px;
  height: 550px;
}

.col-2 img {
  margin-left: 80px;
}

.color-box2 {
  top: 120px;
  left: 80px;
  width: 662px;
  height: 550px;
}

.col-3 img {
  margin-left: 5px;
  margin-top: 10px;
  width: 830px;
  height: auto;
}

.color-box3 {
  top: 130px;
  margin-left: 5px;
  width: 830px;
  height: 536px;
}

.col-4 img {
  position: relative;
  top: 130px;
  margin-left: -10px;
}

.col-5 img {
  margin-left: 5px;
  margin-top: 140px;
}

.color-box4 {
  top: 140px;
  left: 85px;
  width: 750px;
  height: 550px;
}

.col-6 img {
  position: relative;
  top: 139px;
  margin-left: 80px;
}

.color-box5 {
  top: 250px;
  left: 80px;
  width: 662px;
  height: 550px;
}

.col-7 img {
  margin-left: 5px;
  margin-top: 10px;
  width: 830px;
}

.color-box6 {
  top: 130px;
  margin-left: 5px;
  width: 830px;
  height: 527px;
}

.col-8 img {
  position: relative;
  top: 120px;
  margin-left: -10px;
}

.color-box1,
.color-box2,
.color-box3,
.color-box4,
.color-box5,
.color-box6 {
  background: rgba(20, 47, 204, 0.95);
  position: absolute;
  z-index: -1;
}

.text-container1 {
  left: 220px;
  top: 0;
}

.text-container2 h1 {
  left: -220px;
  top: 390px;
  position: relative;
}

.text-container2 p {
  left: 0;
  top: 295px;
  position: relative;
}

.text-container3 h1 {
  left: 80px;
  top: 300px;
  position: relative;
}

.text-container3 p {
  left: 80px;
  top: 310px;
  line-height: 1.5;
  font-size: 18px;
  text-align: center;
  position: relative;
}

.text-container4 h1 {
  top: 40px;
  left: 220px;
  position: relative;
}

.text-container4 p {
  top: 40px;
  left: 220px;
  text-align: end;
  position: relative;
}

.text-container5 h1 {
  top: 455px;
  left: 20px;
  position: relative;
}

.text-container5 p {
  top: 360px;
  left: 20px;
  text-align: end;
  position: relative;
}

.text-container6 h1 {
  top: 300px;
  left: 80px;
  position: relative;
}

.text-container6 p {
  top: 310px;
  left: 80px;
  line-height: 1.5;
  text-align: center;
  position: relative;
}

.text-container1 h1,
.text-container2 h1,
.text-container4 h1 {
  text-align: end;
}

.text-container,
.text-container1,
.text-container2,
.text-container3,
.text-container4,
.text-container5,
.text-container6 {
  color: rgba(254, 254, 255, 1);
  transform: translateY(-50%);
  position: absolute;
  margin: 0 auto;
  width: 80%;
  top: 50%;
  z-index: 500;
  max-width: 100%;
  height: auto;
}

.text-container1 h1,
.text-container2 h1,
.text-container3 h1,
.text-container4 h1,
.text-container5 h1,
.text-container6 h1 {
  font-size: larger;
  margin-bottom: 20px;
  font-style: italic;
}

.text-container p,
.text-container1 p,
.text-container2 p,
.text-container4 p,
.text-container5 p {
  line-height: 1.5;
  font-size: 18px;
  text-align: end;
}

/*---------------------END---------------------------------*/



/*----------------------------------------------
Media queries
----------------------------------------------*/

/*--------------
Min-width 1900px
-------------------------------*/

@media screen and (min-width: 1900px) {

      .middleLine {
        margin-top: 20px;
    }

      .col-1 img {
        margin-left: 5px;
        width: 800px;
        height: auto;
    }

      .color-box1 {
        left: 675px;
        width: 350px;
        height: 692px;
    }

      .col-2 img {
        margin-left: 105px;
        width: 840px;
        height: auto;
    }

      .color-box2 {
        top: 510px;
        left: 106px;
        width: 840px;
        height: 310px;
    }

      .text-container2 h1 {
        left: -260px;
        top: 460px;
    }

      .text-container2 p {
        top: 365px;
    }

      .col-3 img {
        width: 1020px;
        height: auto;
    }

      .color-box3 {
        top: 200px;
        width: 1020px;
    }

    .text-container3 {
      top: 355px;
    }

      .col-4 img {
        margin-left: 30px;
        width: 841px;
    }

      .col-5 img {
        margin-left: 5px;
        width: 800px;
        height: auto;
        top: -80px;
        position: relative;
    }

      .color-box4 {
        left: 675px;
        width: 350px;
        height: 692px;
        top: 61px;
    }

      .col-6 img {
        margin-left: 105px;
        width: 840px;
        height: auto;
    }

      .color-box5 {
        top: 700px;
        left: 106px;
        width: 840px;
        height: 265px;
    }

    .text-container5 {
      top: 500px;
    }

      .text-container5 h1 {
        left: -55px;
        top: 460px;
    }

      .text-container5 p {
        top: 365px;
    }

      .col-7 img {
        margin-top: -68px;
        width: 1020px;
        height: auto;
    }

      .color-box6 {
        top: 200px;
        margin-left: 5px;
        width: 1020px;
        height: 500px;
    }

      .text-container6 h1 {
        top: 250px;
    }

      .text-container6 p {
        top: 245px;
    }

      .col-8 img {
        position: relative;
        top: 145px;
        margin-left: 30px;
        width: 841px;
    }
}
/*----------------------- MIN-WIDTH 1900px END --------------------*/

/*--------------
Max-width 1440px
-------------------------------*/

@media screen and (max-width: 1440px) {

      .col-1 img {
        margin-left: 5px;
        width: 600px;
        height: auto;
    }

      .color-box1 {
        left: 475px;
        width: 350px;
        height: 520px;
    }

      .col-2 img {
        margin-left: 106px;
        width: 600px;
        height: auto;
    }

      .color-box2 {
        top: 360px;
        left: 106px;
        width: 600px;
        height: 310px;
    }

      .col-3 img {
        width: 820px;
        height: auto;
    }

      .color-box3 {
        top: 340px;
        width: 820px;
        height: 310px;
    }

      .col-4 img {
        top: 160px;
        width: 600px;
        height: auto;
    }

      .col-5 img {
        margin-top: 170px;
        width: 600px;
        height: auto;
    }

      .color-box4 {
        top: 170px;
        left: 475px;
        width: 350px;
        height: 520px;
    }

    .col-6 img {
      margin-left: 106px;
      top: 170px;
      width: 600px;
      height: auto;
  }

    .color-box5 {
      top: 510px;
      left: 106px;
      width: 600px;
      height: 310px;
  }

    .col-7 img {
      width: 820px;
      height: auto;
  }

    .color-box6 {
      top: 350px;
      width: 820px;
      height: 280px;
  }

    .col-8 img {
      top: 140px;
      width: 600px;
      height: auto;
  }
  
}
/*-------------------1440px END----------------*/


/*--------------
Max-width 1024px
-------------------------------*/

@media screen and (max-width: 1024px) {

      .homepageCarousel div {
          margin-top: 40px;
          width: 100%;
          height: 300px;
    }

      #getBTN {
          top: 395px;
          right: 38%;
    }

  /*Images and color boxes*/

      .col-1 img {
        width: 440px;
        height: auto;
    }

      .color-box1 {
        left: 230px;
        width: 350px;
        height: 381px;
    }

      .col-2 img {
        margin-left: 70px;
        width: 425px;
        height: auto;
    }

      .color-box2 {
        top: 160px;
        left: 70px;
        width: 425px;
        height: 280px;
    }

      .col-3 img {
        width: 575px;
        height: auto;
    }

      .color-box3 {
        top: 240px;
        width: 575px;
        height: 176px;
    }

      .col-4 img {
        top: 70px;
        width: 424px;
        height: auto;
    }

      .col-5 img {
        width: 440px;
        height: auto;
        margin-top: 80px;
    }

      .color-box4 {
        left: 230px;
        width: 350px;
        height: 381px;
        top: 80px;
    }

      .col-6 img {
        margin-left: 70px;
        width: 425px;
        height: auto;
        top: 80px;
    }

      .color-box5 {
        top: 350px;
        left: 70px;
        width: 425px;
        height: 170px;
    }

      .col-7 img {
        width: 575px;
        height: auto;
    }

      .color-box6 {
        top: 240px;
        width: 575px;
        height: 176px;
    }

      .col-8 img {
        top: 70px;
        width: 424px;
        height: auto;
    }

  /*TEXT containers*/

      .text-container1 {
        left: 165px;
      }

      .text-container2 {
        left: 65px;
        top: 75px;
      }

      .text-container2 h1 {
        top: 360px;
      }

      .text-container3 h1 {
        top: 235px;
        left: -25px;
      }

      .text-container3 p {
        top: 180px;
        left: 316px;
        font-size: 12px;
        text-align: start;
      }

      .text-container4 {
        left: -55px;
      }

      .text-container5 {
        left: 45px;
        top: 90px;
      }

      .text-container5 h1 {
        top: 425px;
        left: -20px;
      }

      .text-container6 h1 {
        top: 235px;
        left: -25px;
      }

      .text-container6 p {
        top: 180px;
        left: 316px;
        font-size: 12px;
        text-align: start;
      }

      .text-container1 h1,
      .text-container2 h1,
      .text-container4 h1,
      .text-container5 h1 {
        font-size: 14px;
        margin-bottom: 10px;
    }

      .text-container p,
      .text-container1 p,
      .text-container2 p,
      .text-container4 p,
      .text-container5 p {
        font-size: 12px;
    }

      .scroll-container {
        left: 490px;
    }
}
/*-------------------1024px END----------------*/



/*--------------
Max-width 960px
-------------------------------*/
@media screen and (max-width: 960px) {
  
      .homepageCarousel div {
        margin-top: 20px;
        width: 100%;
        height: 300px;
    }

      #getBTN {
        top: 395px;
        right: 38%;
    }


 /*Images and color boxes*/

      .col-1 img,
      .col-5 img {
        width: 400px;
        height: auto;
    }
  
      .col-2 img,
      .col-6 img {
        margin-left: 55px;
        width: 410px;
        height: auto;
    }
  
      .col-3 img,
      .col-7 img {
        width: 525px;
        height: auto;
    }

      .col-4 img,
      .col-8 img {
        width: 410px;
        height: auto;
        left: 5px;
    }

      .color-box3,
      .color-box6 {
        width: 525px;
        height: 165px;
    }

      .color-box1,
      .color-box4 {
        width: 300px;
        height: 346px;
    }

      .color-box2 {
        left: 55px;
        width: 410px;
        height: 250px;
    } 

      .color-box5 {
        left: 55px;
        width: 410px;
        height: 140px;
    }

    /*----TEXT containers-----*/

    .text-container1 {
      left: 145px;
    }

    .text-container2 {
      left: 65px;
      top: 55px;
    }

    .text-container2 h1 {
      top: 355px;
      left: -180px;
    }

    .text-container2 p {
      left: -20px;
      font-size: 11px;
    }

    .text-container3 h1 {
      top: 225px;
    }

    .text-container3 p {
      top: 165px;
      left: 280px;
    }

    .text-container4 {
      left: -75px;
    }

    .text-container5 {
      left: 65px;
      top: 70px;
    }

    .text-container5 h1 {
      top: 415px;
      left: -50px;
  }

    .text-container5 p {
      left: -20px;
      font-size: 11px;
    }

    .text-container6 h1 {
      top: 225px;
    }

    .text-container6 p {
      top: 165px;
      left: 280px;
    }

}
/*-------------------960px END----------------*/



/*-------------
max-width 770px
--------------------------------*/
@media (max-width: 770px) {

      .homepageCarousel div {
        margin-top: -50px;
        width: 100%;
        height: 300px;
    }

      #getBTN {
        top: 320px;
        right: 34%;
    }

    /*--Images and color boxes--*/

      .home-container {
        grid-template-columns: 1fr;
    }

    .col-1 img {
      width: 485px;
      margin-left: 0;
    }

    .color-box1 {
      margin-left: 0;
      left: 0;
      width: 100vw;
      height: 420px;
    }

    .col-2 img {
      width: 100vw;
      height: auto;
      margin-left: 0;
      top: 570px;
      position: relative;
    }

    .color-box2 {
      margin-left: 0;
      width: 100vw;
      height: 250px;
      top: 520px;
      left: 0;
      position: relative;
      left: 0;
    }

    
    .col-3 img {
      top: -880px;
      margin-left: 0;
      width: 100vw;
      height: auto;
      position: relative;
    }

    .color-box3 {
      top: -480px;
      height: 190px;
      width: 100vw;
      margin-left: 0;
    }

    
    .col-4 img {
      margin-left: 0;
      top: 60px;
      left: 0;
      width: 100vw;
      height: auto;
    }

    .col-5 img {
      width: 485px;
      margin-left: 0;
      top: -15px;
      position: relative;
    }

    .color-box4 {
      margin-left: 0;
      left: 0;
      width: 100vw;
      height: 420px;
      top: 65px;
    }

    .col-6 img {
      width: 100vw;
      height: auto;
      top: -35px;
      margin-left: 0;
    }

    .color-box5 {
      width: 100vw;
      height: 200px;
      top: 520px;
      margin-left: 0;
      left: 0;
    }

    .col-7 img {
      width: 100vw;
      height: auto;
      margin-left: 0;
      top: 112px;
      position: relative;
    }

    .color-box6 {
      width: 100vw;
      height: 200px;
      top: 520px;
      margin-left: 0;
    }

    .col-8 img {
      width: 100vw;
      height: auto;
      left: 0;
      top: 260px;
      margin-left: 0;
    }

    /*--TEXT containers---------------*/

    .text-container1 {
      left: 90px;
      top: 200px;
    }

    .text-container1 h1 {
      font-size: larger;
    }

    .text-container1 p {
      font-size: 16px;
    }

    .text-container2 {
      left: 90px;
      top: 160px;
    }

    .text-container2 h1 {
      top: 1170px;
      left: -475px;
      font-size: larger;
    }

    .text-container2 p {
      font-size: 16px;
      top: 1095px;
      text-align: end;
      margin-left: 10px;
    }

    .text-container3 h1 {
      top: -550px;
      left: -55px;
      font-size: 20px;
    }

    .text-container3 p {
      top: -610px;
      left: -40px;
      font-size: 16px;
      text-align: end;
    }

    .text-container4 {
      left: -125px;
      top: 240px;
    }

    .text-container4 h1 {
      font-size: 20px;
    }

    .text-container4 p {
      font-size: 16px;
    }

    .text-container5 h1 {
      top: 630px;
      left: -135px;
      font-size: larger;
    }

    .text-container5 p {
      font-size: 16px;
      top: 555px;
      text-align: end;
      margin-left: 10px;
    }

    .text-container6 h1 {
      top: 455px;
      left: -70px;
    }

    .text-container6 p {
      top: 390px;
      left: 410px;
      font-size: 14px;
    }

    .scroll-container {
      left: 325px;
      top: 280px;
  }

}
/*----------------770px END----------------*/


@media screen and (max-width: 600px) {

      #getBTN {
        transform: translateX(-50%);
        display: flex;
        top: 332px;
        left: 50%;
        right: auto;
    }

      .col-1 img {
        width: 425px;
        height: auto;
    }

      .text-container1 {
        left: 105px;
        top: 180px;
  }

      .color-box1 {
        width: 100vw;
        height: 368px;
  }

      .col-2 img {
        top: -18px;
  }

      .color-box2 {
        top: -140px;
  }

      .text-container2 {
        left: 85px;
        top: -595px;
  }

      .text-container2 h1 {
        left: -300px;
  }

      .col-3 img {
        top: -142px;
  }

      .color-box3 {
        top: 140px;
  }

      .text-container3 {
        top: 850px;
        left: 17px;
  }

      .col-4 img {
        top: -32px;
  }

      .col-5 img {
        top: -108px;
        width: 425px;
        height: auto;
  }

      .color-box4 {
        top: -28px;
        width: 100vw;
        height: 368px;
  }

      .text-container4 {
        left: -115px;
        top: 110px;
  }

      .col-6 img {
        top: -122px;
  }

      .color-box5 {
        top: 290px;
  }

      .text-container5 {
        top: -150px;
  }

      .col-7 img {
        top: 18px;
  }

      .color-box6 {
        top: 300px;
  }

      .text-container6 {
        top: 20px;
        left: -30px;
  }

      .col-8 img {
        top: 140px;
  }


      .scroll-container {
        left: 255px;
        top: 220px;
  }
}
/*---------------- 600px END ----------------*/



/*--------------
Max-width 430px
-------------------------------*/


@media screen and (max-width: 430px) {

    .homepageCarousel div {
      height: 300px;
      width: 100vw;
  }

    .homepageCarousel {
      margin-top: 30px;
  }

    #getBTN {
      top: 195px;
      width: 272px;
  }

  
  /*Images and caption boxes*/

    .col-1 img {
      width: 100vw;
      margin-top: 5px;
  }

    .color-box1 {
      width: 100vw;
      height: 150px;
      top: 320px;
  }

    .col-2 img {
      top: 80px;
  }

    .color-box2 {
      height: 170px;
      top: 0;
  }

    .col-3 img {
      top: -2px;
  }

    .color-box3 {
      top: 240px;
      height: 100px;
      width: 100vw;
      margin-left: 0;
  }

    .col-4 img {
      top: 75px;
  }

    .col-5 img {
      top: 0;
      width: 100vw;
      height: auto;
  }

    .color-box4 {
      top: 430px;
      height: 120px;
  }

    .col-6 img {
      top: 85px;
  }

    .color-box5 {
      top: 395px;
      height: 120px;
  }

    .col-7 img {
      top: 178px;
  }

    .color-box6 {
      height: 120px;
      top: 400px;
  }

    .col-8 img {
      top: 255px;
  }

  /*--TEXT containers--*/

    .text-container1 h1 {
      top: 245px;
      left: -160px;
      position: relative;
  }

    .text-container2 h1 {
      top: 1055px;
      left: -140px;
  }

    .text-container3 h1 {
      top: -550;
      left: 30px;
  }

    .text-container4 h1 {
      top: 395px;
      display: block;
      left: 60px;
  }

    .text-container5 h1 {
      top: 620px;
      left: -15px;
  }

    .text-container6 h1 {
      top: 465px;
      left: 65px;
  }
  /*--------TEXT containers END-------*/

    .scroll-container {
      left: 160px;
      top: 280px;
  }

  /*--------------
  HIDDEN ELEMENTS
  ---------------*/
    .middleLine,
    .home-container p {
      display: none;
  }

}
/*----------------------430px END--------------------*/


/*--------------
Max-width 390px
-------------------------------*/

@media screen and (max-width: 390px) {

      .homepageCarousel {
        margin-top: 0;
    }

      #getBTN {
        top: 155px;
    }

    /*Images and caption boxes*/
  
      .color-box1 {
        height: 110px;
    }

      .col-2 img {
        top: 82px;
    }

      .col-3 img {
        top: -4px;
    }

      .color-box3 {
        top: 200px;
    }

      .col-4 img {
        top: 62px;
    }

      .col-5 img {
        top: -16px;
    }

      .color-box4 {
        top: 370px;
    }

      .col-6 img {
        top: 68px;
    }

      .color-box5 {
        top: 350px;
    }

      .col-7 img {
        top: 170px;
    }

      .color-box6 {
        height: 120px;
        top: 365px;
    }

      .col-8 img {
        top: 248px;
    }

    /*Text containers*/

      .text-container1 h1 {
        top: 210px;
        left: -150px;
    }

      .text-container2 h1 {
        top: 1030px;
        left: -130px;
    }

      .text-container3 h1 {
        top: -580px;
        left: 20px;
    }

      .text-container4 h1 {
        top: 340px;
        display: block;
        left: 65px;
    }

      .text-container5 h1 {
        top: 575px;
        left: -35px;
    }

      .text-container6 h1 {
        top: 435px;
        left: 65px;
    }


      .scroll-container {
        left: 145px;
    }

    /*-------------
    HIDDEN ELEMENTS
    -----------------*/
      .home-container p {
        display: none;
    }

}
/*-------------------390px END---------------------*/


/*--------------
Max-width 320px
-------------------------------*/

@media screen and (max-width: 320px) {

    #getBTN {
      top: 140px;
  }

  /*--Images and caption boxes--*/

    .color-box1 {
      height: 100px;
      top: 250px;
  }

    .col-2 img {
      top: 50px;
  }

    .color-box2 {
      height: 100px;
      top: 10px;
  }

    .col-3 img {
      top: 6px;
  }

    .color-box3 {
      top: 160px;
  }

    .col-4 img {
      top: 52px;
  }

    .col-5 img {
      top: -26px;
  }

    .color-box4 {
      top: 280px;
  }

    .col-6 img {
      top: 26px;
  }

    .color-box5 {
      top: 225px;
  }

    .col-7 img {
      top: 88px;
  }

    .color-box6 {
      height: 100px;
      top: 245px;
  }

    .col-8 img {
      top: 138px;
  }

  /*--Text containers--*/

    .text-container1 h1 {
      top: 140px;
      left: -130px;
  }

    .text-container2 h1 {
      top: 930px;
      left: -105px;
  }

    .text-container3 h1 {
      top: -612px;
      left: 15px;
  }

    .text-container4 h1 {
      top: 260px;
      left: 90px;
  }

    .text-container5 h1 {
      top: 465px;
      left: -30px;
  }

    .text-container6 h1 {
      top: 300px;
      left: 60px;
  }

    .scroll-container {
      left: 105px;
      top: 160px;
  }

}

/*-------------------320px END---------------------*/