/*-------------------------------------------
Productlist page + xtra-products page styles
----------------------------------------------*/

.productSlides {
  margin-top: 70px;
  margin-bottom: 30px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.productSlides img {
  max-width: 100vw;
}

.productSlides > div {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 450px;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  animation: scroll 10s linear infinite;
}

#searchGames {
  font-size: 20px;
  position: relative;
  margin-left: 40vw;
  width: 245px;
  height: 40px;
  border-radius: 8px;
  margin-top: 50px;
  border: solid rgba(20, 47, 204, 1);
  background-color: rgba(254, 254, 255, 1);
}

#searchGames::placeholder {
  text-align: center;
  font-size: 16px;
}

input#searchGames:hover {
  transition: 0.5s;
  margin-left: 40vw;
  width: 300px;
  border: 1px solid rgba(249, 114, 38, 0.8);
}

#gamingNav {
  width: 100%;
  z-index: 1;
  position: relative;
  text-align: center;
  margin-top: 6%;
  margin-bottom: 0;
}

.xtra-prod-section {
  margin-top: 2%;
}

#returnArrow {
  position: absolute;
  margin-left: 6%;
  margin-top: 0;
}

.products-section {
  box-sizing: border-box;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 6%;
  margin-top: 5%;
}

.products {
  margin-top: 10%;
  width: 80%;
  height: auto;
}

.products:hover {
  width: 79%;
  height: auto;
  border: 4px solid;
  border-radius: 5px;
  border-color: rgba(249, 114, 38, 0.8);
}

#expandBTN {
  position: relative;
  margin-top: 20px;
  margin-left: 50vw;
  background-color: rgba(254, 254, 255, 1);
  border: none;
  cursor: pointer;
}

/*--------------
Media screens
--------------------------*/

@media screen and (max-width: 900px) {
  .productSlides {
    margin-bottom: 10px;
  }

  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 770px) {
  input#searchGames {
    margin-left: 32vw;
  }
}

@media screen and (max-width: 430px) {
  input#searchGames {
    margin-left: 22vw;
  }
}

@media screen and (max-width: 360px) {
  #gamingNav img {
    width: 260px;
    height: auto;
  }
}
