.details-wrapper {
  display: grid;
}

.discount-price {
  color: var(--discount-red);
  font-weight: bold;
}

.productIMG {
  width: 60%;
  height: auto;
  margin-left: 5%;
  position: relative;
  border-radius: 10px;
}

.cartWindow {
  position: relative;
  margin-top: 10%;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

#cartWindow-box {
  display: grid;
  margin-top: 12%;
  justify-self: center;
  width: fit-content;
  height: auto;
  max-height: 420px;
  padding: 10%;
  border-radius: 10px;
  background-color: var(--bright-blue-soft);
}

.title {
  margin-top: 5%;
  display: grid;
}

.title p {
  color: var(--white);
  font-size: 320%;
  font-family: "Thunder", sans-serif;
  letter-spacing: 3px;
}

.tagline {
  font-size: 20px;
  line-height: 1.2;
  color: var(--white);
}

.tagline p {
  margin-top: 5%;
  justify-self: center;
  color: var(--white);
}

.addToCartBTN {
  background-color: var(--white);
  border-color: var(--bright-blue-soft);
  color: var(--bright-blue-soft);
  border-style: solid;
  border-radius: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 15px;
  max-width: 180px;
  height: min-content;
  margin-top: 5%;
  justify-self: center;
  cursor: pointer;
}

.addToCartBTN a {
  color: var(--bright-blue-soft);
}

.addToCartBTN:hover {
  background-color: var(--faded-hover-white);
}

.productText-container {
  position: relative;
  margin-top: 5%;
  width: 100vw;
  height: 550px;
}

#productBox1 {
  background-color: var(--bright-blue-soft);
  border: none;
  display: grid;
  width: 100vw;
  height: 85%;
}

.productText {
  margin-left: 15%;
  margin-right: 1%;
  margin-top: 10%;
  max-width: 800px;
}

.productText p {
  color: var(--white);
  line-height: 1.5;
  font-size: 20px;
}

.productTextIcons {
  display: grid;
  margin-top: -15%;
  width: max-content;
  margin-left: 73%;
}

.productTextIcons img {
  width: 100%;
}

.gamingIcons {
  width: 100vw;
  margin-left: 12%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.gamingIcons img {
  position: relative;
  width: 80%;
  max-width: 100%;
}

.seperationLine {
  margin-left: 80px;
  margin-right: 80px;
}

@media screen and (max-width: 1000px) {
  #cartWindow-box {
    margin-left: 8%;
    margin-right: 8%;
  }

  #backArrow {
    display: none;
  }

  .tagline p {
    font-size: 18px;
    margin: 10px;
  }

  .productText {
    margin-left: 8%;
    margin-right: 1%;
    max-width: 80%;
  }

  .productTextIcons {
    margin-left: 60vw;
    margin-top: 1%;
  }
}

@media screen and (max-width: 770px) {
  .title p {
    font-size: 30px;
  }
}

@media screen and (max-width: 650px) {
  .cartWindow {
    grid-template-columns: auto;
  }

  .productIMG {
    height: auto;
    margin-top: 5%;
    margin-left: 20vw;
  }

  .productTextIcons,
  .productText {
    justify-self: center;
    margin-left: 0;
  }
}

@media screen and (min-width: 655px) {
  #cartWindow-box {
    margin-left: 25%;
  }
}
