.details-wrapper {
  display: grid;
}

#backArrow {
  cursor: pointer;
  position: absolute;
  margin-left: 6%;
  margin-top: 5%;
}

.productIMG {
  width: 80%;
  height: auto;
  margin-top: -5%;
  margin-left: 5%;
  position: relative;
}

.cartWindow {
  position: relative;
  margin-top: 10%;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#cartWindow-box {
  display: grid;
  margin-left: 22%;
  width: 65%;
  max-height: 480px;
  min-height: 200px;
  height: 70%;
  border-radius: 10px;
  background-color: var(--bright-blue-soft);
}

.title {
  margin-top: 10%;
}

.title p {
  font-size: 260%;
  font-family: cursive, Arial, Helvetica, sans-serif;
  font-style: italic;
}

.tagline {
  font-size: 25px;
  line-height: 1.5;
}

.title p,
.tagline p {
  text-align: center;
  padding-bottom: 10px;
  color: var(--white);
}

.addToCartBTN {
  background-color: var(--white);
  border-color: var(--bright-blue-soft);
  color: var(--bright-blue-soft);
  border-style: solid;
  border-radius: 24px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 15px;
  max-width: 180px;
  cursor: pointer;
  text-align: center;
  height: min-content;
  justify-self: center;
}

.addToCartBTN a {
  color: var(--bright-blue-soft);
}

.addToCartBTN:hover {
  background-color: var(--faded-hover-white);
}

.productText-container {
  position: relative;
  margin-top: 5%;
  width: 100vw;
  height: 550px;
}

#productBox1 {
  background-color: var(--bright-blue-soft);
  border: none;
  display: grid;
  width: 100vw;
  height: 85%;
}

.productText {
  margin-left: 15%;
  margin-right: 1%;
  margin-top: 10%;
  max-width: 800px;
}

.productText p {
  color: var(--white);
  line-height: 1.5;
  font-size: 20px;
}

.productTextIcons {
  display: grid;
  margin-top: -15%;
  width: max-content;
  margin-left: 73%;
}

.productTextIcons img {
  width: 100%;
}

.gamingIcons {
  width: 100vw;
  margin-left: 12%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.gamingIcons img {
  position: relative;
  width: 80%;
  max-width: 100%;
}

.seperationLine {
  margin-left: 80px;
  margin-right: 80px;
}

@media screen and (max-width: 1000px) {
  #backArrow {
    display: none;
  }

  .tagline p {
    font-size: 18px;
  }

  .productText {
    margin-left: 8%;
    margin-right: 1%;
    max-width: 80%;
  }

  .productTextIcons {
    margin-left: 60vw;
    margin-top: 1%;
  }
}

@media screen and (max-width: 770px) {
  .cartWindow {
    margin-top: 20%;
  }

  .title p {
    font-size: 30px;
  }
}

@media screen and (max-width: 650px) {
  .cartWindow {
    grid-template-columns: auto;
  }

  #cartWindow-box {
    margin-left: 18vw;
  }

  .productIMG {
    width: 60%;
    height: auto;
    margin-top: 5%;
    margin-left: 0;
    margin-left: 20vw;
  }

  .productTextIcons,
  .productText {
    justify-self: center;
    margin-left: 0;
  }
}
