
/*-----------------------------------
specific product page styles
------------------------------------*/


/*---------------------------------
DESKTOP
----------------------------------*/

#backArrow {
  position: absolute;
  z-index: 100;
  top: 200px;
  margin-left: 40px;
}

.productIMG {
  position: relative;
  width: 100%;
  top: 80px;
  padding: none;
  margin: 0;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.cartWindow {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 250px;
    left: 50px;
}

#addToCartBox {
  width: 500px;
  height: 400px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color: rgba(20, 47, 204, 0.6);
}

#title {
    position: relative;
    padding: 0;
    top: -365px;
    left: 0px;
    z-index: 2;
}
#title p {
  font-size: 48px;
  font-family: fantasy;
}

#tagline p {
  top: 120px;
  left: 120px;
  font-size: 20px;
  z-index: 20;
  position: absolute;
}

#title,
#title p,
#tagline,
#tagline p {
  text-align: center;
  padding-bottom: 20px;
  color: rgba(254, 254, 255, 1);
}

.addToCartBTN {
  background-color:  rgba(254, 254, 255, 1);
  border-color: rgba(20, 47, 204, 0.95);
  color: rgba(20, 47, 204, 0.95);
  border-style: solid;
  border-radius: 24px;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 15px;
  width: 180px;
  cursor: pointer;
  text-align: center;

  position: relative;
  top: -300px;
  left: 160px;
  transition: 0.5s;
}

.addToCartBTN:hover {
  background-color: rgba(254, 254, 255, 0.55);
}


#productBox1 {
    background-color: rgba(20, 47, 204, 0.95);
    position: relative;
    border: none;
    width: 100%;
    height: 600px;
    top: 95px;
    z-index: -1;
}

.productText-container {
    position: relative;
    display: flex;
    top: -450px;
}

.productText {
    margin-top: 20px;
    margin-left: 160px;
}

.productText p {
  color: rgba(254, 254, 255, 1);
  line-height: 1.5;
  font-size: 18px;
}

.productTextIcons {
    margin-top: 40px;
    margin-left: 65px;
}

.ingameIMGs {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  top: -340px;
  position: relative;
}

.gamingIcons {
  position: relative;
  margin-left: 360px;
  width: 100%;
  top: -200px;
  padding: 0;
}

.seperationLine {
  margin-left: 80px;
  margin-right: 80px;
}

/*-------------------------
Hidden elements (elements visible on smaller screens)
--------------------------*/
.product-icons-mobile img,
.prod-col1-img img,
.prod-col2-img img,
.incl-cont-icons-mobile img {
  display: none;
  width: 100%;
}
 

/*-------------------------------
          MEDIA QUERIES
  -------------------------------

   /*-- min-width 1600px
  ---------------------------------------*/
  @media screen and (min-width: 1600px) {

      .productIMG img {
        width: 100vw;
        height: auto;
    }

      .cartWindow {
        left: 250px;
    }

      #backArrow {
        margin-left: 240px;
    }
    
  }
  /*--------------------- 1600px END ------------------------*/


  /*-- max width 1024px
  ---------------------------------------*/
  @media screen and (max-width: 1024px) {

        .productIMG img {
          width: 100vw;
      }

        #addToCartBox {
          width: 500px;
          height: 300px;
      }

          #title {
            top: -265px;
      }

        #tagline p {
          top: 115px;
      }

      .addToCartBTN {
        top: -220px;
        left: 160px;
    }

      .productText-container {
        position: relative;
        display: flex;
        top: -450px;
        left: -95px;
    }

    .gamingIcons {
        position: relative;
        margin-left: 160px;
        width: 100%;
        top: -200px;
        padding: 0;
    }

  }
  /*------------------1024px END---------------------*/



  /*-- max width 930px
  ---------------------------------------*/

  @media screen and (max-width: 930px) {

      #addToCartBox {
        width: 500px;
        height: 300px;
        position: relative;
        top: -10px;
    }

      #title {
        top: -265px;
    }

      #tagline p {
        top: 115px;
    }

      .addToCartBTN {
        top: -220px;
        left: 160px;
    }

      .gamingIcons {
        margin-left: 110px;
    }
    
  }

  /*-----------------930px END----------------------*/



  /*-- max width 770px
  ------------------------------------------*/
  @media screen and (max-width: 770px) {

      #backArrow {
        position: absolute;
        top: 220px;
        margin-left: 20px;
    }

    .cartWindow {
      top: 200px;
      left: 70px;
    }

      #addToCartBox {
        width: 500px;
        height: 260px;
        position: relative;
        top: -15px;
    }

      #tagline p {
        top: 75px;
    }

      .addToCartBTN {
        top: -240px;
    }

      #productBox1 {
        background-color: rgba(20, 47, 204, 0.95);
        position: absolute;
        display: block;
        width: 100vw;
        height: 90px;
        top: 520px;
        z-index: -1;
    }
  
      #productBox2 {
        display: block;
        background-color: rgba(20, 47, 204, 0.95);
        position: absolute;
        width: 100%;
        height: 150px;
        top: 1690px;
        z-index: -1;
  }

      .product-icons-mobile img {
        display: block;
        width: 300px;
        height: auto;
    }
  
      .product-icons-mobile {
        position: relative;
        margin-left: 240px;
        top: 160px;
        z-index: 20;
    }

      .prod-col1-img img {
        display: block;
        position: relative;
        top: 240px;
        left: 50px;
        margin: none;
        width: 400px;
        height: auto;
    }

      .prod-col2-img img {
        display: block;
        position: relative;
        top: 350px;
        width: 100vw;
        height: auto;
    }

      .productText-container {
        position: relative;
        top: 0;
    }

      .productText p {
        position: absolute;
        font-size: 14px;
        color: rgba(27, 32, 61, 1);
        z-index: 20;
    }

      .prod-col1-text {
        top: -530px;
        text-align: start;
        left: 600px;
    }

      .prod-col2-text {
        margin-top: 330px;
        text-align: center;
        left: 85px;
        width: 100%;
    }

      p.prod-col2-text {
        color: rgba(254, 254, 255, 1);
        font-size: 12px;
    }


      .incl-cont-icons-mobile img {
        position: absolute;
        display: block;
        width: 500px;
        margin-left: 150px;
        top: 1950px;
    }

    /*-----------------
    HIDDEN ELEMENTS (elements visible on larger screens)
    ------------------*/
      .ingameIMGs,
      .ingameIMGs img,
      .gamingIcons,
      .productTextIcons {
        display: none;
    }

}
/*-------------------770px END--------------------*/



 /*-- max width 430px
  ---------------------------------------*/
  
  
  @media screen and (max-width: 430px) {

      .cartWindow {
        border: none;
        padding: 0;
        left: 50px;
    }

      #addToCartBox {
        width: 350px;
        height: 100px;
        left: -10px;
        position: relative;
        top: -25px;
    }

      #title {
        left: -10px;
        top: -110px;
  }

    
      .addToCartBTN {
        top: -140px;
        left: 70px;
  }

      #productBox1 {
        background-color: rgba(20, 47, 204, 0.95);
        position: absolute;
        display: block;
        width: 100vw;
        height: 90px;
        top: 420px;
        z-index: -1;
      }
  
      #productBox2 {
        display: block;
        background-color: rgba(20, 47, 204, 0.95);
        top: 1075px;
    }

      .product-icons-mobile img {
        display: block;
        width: 300px;
        height: auto;
    }
  
      .product-icons-mobile {
        position: relative;
        margin-left: 60px;
        top: 195px;
        z-index: 20;
    }

      .prod-col1-img img {
        display: block;
        position: relative;
        top: 285px;
        left: 50px;
        margin: none;
        width: 200px;
        height: auto;
    }

      .prod-col2-img img {
        display: block;
        width: 100vw;
        height: auto;
    }

      .productText p {
        font-size: 10px;
    }

      .prod-col1-text {
        top: -195px;
        left: 390px;
   }

      .prod-col2-text {
        left: 95px;
        top: 40px;
   }

      .incl-cont-icons-mobile img {
        position: absolute;
        display: block;
        width: 320px;
        margin-left: 60px;
        top: 1400px;
    }


    /*-----------------
    HIDDEN ELEMENTS (elements visible on larger screens)
    ------------------*/
      .ingameIMGs,
      .ingameIMGs img,
      .gamingIcons,
      .productTextIcons,
      .seperationLine,
      #tagline p,
      #backArrow {
        display: none;
    }

  }
  /*-------------------430px END--------------------*/



  /*-- max width 395px
  ---------------------------------------*/

  @media screen and (max-width: 395px) {

        #addToCartBox {
          width: 300px;
          top: -15px;
    }

        #title {
          top: -90px;
    }

        #title p {
          font-size: 42px;
    }
      
        .addToCartBTN {
          left: 50px;
    }

        
        .product-icons-mobile {
          margin-left: 35px;
          top: 220px;
    }

        .prod-col1-img img {
          top: 275px;
    }

        .prod-col1-text {
          top: -182px;
          left: 380px;
          text-align: start;
    }

        #productBox2 {
          display: block;
          background-color: rgba(20, 47, 204, 0.95);
          top: 1030px;
    }

        .prod-col2-text {
          top: 45px;
    }

        .incl-cont-icons-mobile img {
          position: absolute;
          display: block;
          margin-left: 30px;
          top: 1300px;
    }

    /*-----------------
    HIDDEN ELEMENTS (elements visible on larger screens)
    ------------------*/
      .ingameIMGs,
      .ingameIMGs img,
      .gamingIcons,
      .productTextIcons,
      .seperationLine,
      #tagline p,
      #backArrow {
        display: none;
    }


  }
/*-------------------395px END--------------------*/



/*-- max width 345px
  ---------------------------------------*/

  @media screen and (max-width: 345px) {

        .productIMG img {
          position: relative;
          top: -50px;
    }

        #addToCartBox {
          width: 250px;
          top: -15px;
          left: -12px;
    }

        #title {
          top: -90px;
    }
        #title p {
          font-size: 36px;
    }
      
        .addToCartBTN {
          left: 25px;
    }

        .product-icons-mobile {
          margin-left: 35px;
          top: 240px;
    }

        .product-icons-mobile img {
          width: 250px;
    }

        .prod-col1-img img {
          top: 300px;
          width: 90vw;
          left: 16px;
          height: auto;
    }

        .prod-col1-text {
          top: 100px;
          left: 180px;
          text-align: center;
          right: -20px;
    }

        .prod-col2-img img {
          top: 390px;
    }

        #productBox2 {
          display: block;
          background-color: rgba(20, 47, 204, 0.95);
          top: 1110px;
    }

      p.prod-col2-text {
        top: 70px;
    }

        .incl-cont-icons-mobile img {
          width: 280px;
          left: -5px;
    }

/*-----------------
    HIDDEN ELEMENTS (elements visible on larger screens)
    ------------------*/
      .ingameIMGs,
      .ingameIMGs img,
      .gamingIcons,
      .productTextIcons,
      .seperationLine,
      #tagline p,
      #backArrow {
        display: none;
    }

  }
  /*------------------345px END---------------------*/

