/*--------------
NAVIGATION BAR
---------------*/

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 500;
}

.menu-icon {
  width: 30px;
  cursor: pointer;
  display: none;
  padding-top: 2%;
}

nav {
  flex: 1;
  right: 30px;
  position: relative;
  text-align: right;
  margin-top: 30px;
  z-index: 400;
}

#current {
  font-weight: 600;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  color: var(--dark-blue-base);
  font-size: 16px;
}

nav ul li a:hover {
  color: var(--bright-hover-blue-base);
}

#item-counter {
  /* background-color: var(--orange-strong); */
  background-color: var(--light-blue-base);

  color: var(--white);
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 16px;
  vertical-align: middle;
}

/*--------------------------
 Media queries for NAVBAR
 --------------------------*/
@media screen and (max-width: 430px) {
  .menu-icon {
    position: relative;
    right: 40px;
  }

  #menuList {
    position: fixed;
    overflow: hidden;
    transition: 0.5s;
    right: 0;
    top: 60px;
    width: 100vw;
    z-index: 1000;
    background-color: var(--nav-menu-white);
  }
}

@media screen and (max-width: 770px) {
  .menu-icon {
    position: relative;
    right: 40px;
  }

  #menuList {
    right: 0;
    position: fixed;
    top: 60px;
    width: 100vw;
    background-color: var(--nav-menu-white);
    z-index: 1000;
    overflow: hidden;
  }
}

@media screen and (max-width: 960px) {
  #menuList {
    position: fixed;
    right: 0;
    top: 60px;
    width: 100vw;
    background-color: var(--nav-menu-white);
    z-index: 1000;
  }
}

@media screen and (max-width: 1023px) {
  .topMenu-mobileView {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: var(--white);
    z-index: 1;
  }

  .menu-icon {
    display: block;
    position: absolute;
    right: 20px;
    top: 10px;
  }

  nav ul {
    background-color: var(--nav-menu-white);
    position: fixed;
    width: 100%;
    height: auto;
    top: 60px;
    right: 0;
    z-index: 2;
  }

  nav ul li {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: var(--logo-dark-blue);
    font-size: 30px;
    font-weight: lighter;
  }

  nav ul li a:hover {
    color: var(--orange-strong);
  }

  #menuList {
    overflow: hidden;
    transition: 0.5s;
    right: 0px;
    top: 60px;
    width: 100vw;
  }

  #current {
    font-weight: 500;
    color: var(--logo-dark-blue);
  }
}

@media screen and (min-width: 1480px) {
  nav ul li .rightNavElement {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1600px) {
  nav ul li a {
    font-size: 20px;
  }
}
