/*--------
For pages:
About,
Contact,
Profile
------------*/

.page-title {
  display: grid;
  padding: 50px;
  margin-top: 2%;
  background-color: var(--blue-base);
}

.page-title h1 {
  color: var(--white);
  text-align: center;
  justify-self: center;

  font-size: 4.06rem;
  letter-spacing: 3px;
  font-weight: 600;
  font-family: "Thunder", sans-serif;
}

@media screen and (max-width: 1023px) {
  .page-title {
    margin-top: 50px;
  }
  .page-title h1 {
    font-size: 3.06rem;
  }
}
