.about-text {
  margin-top: 120px;
  margin-bottom: 30px;
  text-align: start;
  margin-left: 240px;
}

.buyBTN,
.sellBTN {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid;
  font-size: 20px;
  padding: 16px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.3s;
  float: right;
}

.buyBTN {
  position: relative;
  margin-right: 35px;
  background-color: var(--light-blue-base);
  border-color: var(--light-blue-base);
  color: var(--white);
}

.sellBTN {
  position: relative;
  margin-right: 10px;
  background-color: var(--white);
  border-color: var(--light-blue-base);
  color: var(--light-blue-base);
}

.about-backgroundIMG img {
  position: relative;
  top: 45px;
  width: 100vw;
  height: auto;
  z-index: 1;
}

/*------------------------------
Media queries
------------------------------*/

@media screen and (max-width: 1350px) {
  .about-text {
    margin-top: 60px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 40px;
  }

  .buyBTN,
  .sellBTN {
    top: 10px;
    left: -350px;
  }

  .about-backgroundIMG img {
    top: 25px;
    width: 100vw;
  }
}

@media screen and (min-width: 1024px) {
  .buyBTN:hover {
    background-color: var(--white);
    border-color: var(--light-blue-base);
    color: var(--light-blue-base);
    box-shadow: 0px 4px 20px var(--overlay-faded-black);
  }

  .sellBTN:hover {
    background-color: var(--light-blue-base);
    border-color: var(--light-blue-base);
    color: var(--white);
    box-shadow: 0px 4px 20px var(--overlay-faded-black);
  }
}

@media screen and (max-width: 1024px) {
  .buyBTN,
  .sellBTN {
    top: 10px;
    left: -180px;
  }
}

@media screen and (max-width: 800px) {
  .buyBTN,
  .sellBTN {
    top: 10px;
    left: -70px;
  }
}

@media screen and (max-width: 770px) {
  .buyBTN,
  .sellBTN {
    top: 10px;
    left: -50px;
  }

  .about-backgroundIMG img {
    top: 45px;
    position: relative;
  }
}

@media screen and (max-width: 425px) {
  .about-text {
    margin-left: 15px;
    text-align: start;
  }

  .buyBTN,
  .sellBTN {
    top: 10px;
    left: 110px;
  }
}

@media screen and (max-width: 413px) {
  .buyBTN,
  .sellBTN {
    top: 60px;
    left: 45px;
    width: 130px;
  }
}

@media screen and (max-width: 375px) {
  .about-text p {
    margin: 15px;
    text-align: start;
  }

  .buyBTN,
  .sellBTN {
    top: 60px;
    left: 45px;
    width: 130px;
  }
}

@media screen and (max-width: 320px) {
  .buyBTN,
  .sellBTN {
    left: 75px;
  }
}
