.contactPage-container {
  display: grid;
}

.contact-section {
  width: 90vw;
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-self: center;
  gap: 20px;
}

.inquiry-container {
  margin-top: 10%;
}

.accountsBox,
.communityBox,
.discountsBox,
.locationBox {
  justify-self: center;
  min-width: 150px;
  height: fit-content;
  text-align: center;
}

#accountsText,
#communityText,
#discountsText,
#locationText,
#deliveryReturnsText,
#onlineSafetyText,
#subscriptionsText {
  font-size: 1rem;
  color: var(--light-blue-base);
  cursor: pointer;

  transition: transform 0.2s ease-in-out;
}

#accountsText:hover,
#communityText:hover,
#discountsText:hover,
#locationText:hover,
#deliveryReturnsText:hover,
#onlineSafetyText:hover,
#subscriptionsText:hover {
  transform: translate(-2%, -2%) scale(1.08);
}

.locationIcon {
  margin-top: 10%;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.locationIcon:hover {
  transform: translate(-2%, -2%) scale(1.5);
}

/*----------------
Media queries
--------------------------*/

@media screen and (max-width: 900px) {
  .contact-section {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 50px;
  }
}
