/*----------------------------------------------
Landing page styles
----------------------------------------------*/

.middleLine {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;

  max-width: 1400px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin: 5% auto 0 auto;
}

@media (max-width: 768px) {
  .home-container {
    grid-template-columns: 1fr;
  }

  .product,
  .color-box {
    width: 80%;
  }
}
