.productSlides {
  margin-top: 70px;
  margin-bottom: 30px;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.productSlides img {
  max-width: 100vw;
  cursor: pointer;
}

.productSlides > div {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 450px;
  scroll-snap-align: start;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
  animation: scroll 30s linear infinite;
}

#search-form {
  display: grid;
  width: 100vw;
  justify-content: center;
}

#searchGames {
  font-size: 20px;
  width: 245px;
  height: 40px;
  border-radius: 8px;
  margin-top: 50px;
  border: solid var(--bright-blue-strong);
  background-color: var(--white);
  cursor: pointer;
}

#searchGames::placeholder {
  text-align: center;
  font-size: 16px;
}

input#searchGames:hover {
  transition: 0.5s;
  width: 300px;
  border: 1px solid var(--dark-hover-green);
}

#gamingNav {
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 8%;
  margin-bottom: 0;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 11%;
  margin-top: 5%;
  padding-bottom: 5%;
}

.product-container {
  position: relative;
  width: 60%;
  height: auto;
  margin-top: 10%;
}

.products {
  margin-top: 10%;
  width: 100%;
  height: 100%;
  display: block;
}

.overlay {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  display: flex;
  background-color: var(--overlay-faded-black);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlayText {
  display: none;
}

#expandBTN {
  padding-top: 8%;
  margin-left: 50vw;
  background-color: var(--white);
  border: none;
  cursor: pointer;
}

.xtra-prod-section {
  margin-top: 10%;
}

/*--------------
Media screens
--------------------------*/

@media screen and (min-width: 1000px) {
  .product-container:hover .overlay {
    opacity: 1;
  }

  .overlayText {
    display: block;
    color: var(--white);
    font-size: 20px;
    padding: 20px;
    margin-top: 85%;
  }
}

@media screen and (max-width: 900px) {
  .productSlides {
    margin-bottom: 10px;
  }

  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 360px) {
  #gamingNav img {
    width: 260px;
    height: auto;
  }
}
