input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid var(--light-blue-base);
  background-color: var(--faded-hover-white);
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
input[type="number"]:hover,
select:hover,
textarea:hover {
  border-color: var(--bright-hover-blue-base);
  cursor: pointer;
}

label,
input[type="date"]#cardDetails {
  color: var(--light-blue-base);
}

form ::placeholder,
select:invalid,
select#cardDetails {
  color: var(--light-blue-base);
}

input[type="submit"] {
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid var(--light-blue-base);
  background-color: var(--light-blue-base);
  color: var(--white);
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  input[type="submit"]:hover {
    background-color: var(--faded-hover-white);
    color: var(--light-blue-base);
  }
}
