.checkout-page {
  position: relative;
  margin: 0 20% 20%;
  justify-content: center;
  font-size: 100%;
  display: grid;
}

#checkoutTitle {
  font-family: "Dorsa", sans-serif;
  letter-spacing: 4px;
  font-size: 250%;
  margin-bottom: 1%;
}

.cart-elements {
  display: grid;
  justify-content: center;

  margin-left: 2%;
  margin-right: 2%;
}

.paymentMethodImgs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-self: center;
  justify-content: center;
  width: 100%;
  height: auto;
}

.pMethod-img {
  display: grid;
}

.pMethod-img img {
  justify-self: center;
  width: 90%;
  height: auto;
  max-width: 200px;
  height: auto;
}

.radioBTN {
  margin: 2%;
  cursor: pointer;
}

#delivery-text {
  cursor: pointer;
  font-size: 20px;
}

#promoLabel,
.promo-label,
.delivery-label {
  margin-bottom: -1%;
  color: var(--logo-dark-blue);
}

.promo-label {
  margin-top: 5%;
}

#promoInput {
  cursor: pointer;
  max-width: 200px;
  transition: transform 0.3s ease-in-out;
}

#promoInput:hover {
  transform: translate(0, 0) scale(1.04);
}

#subtotal,
#subtotal-price,
.total-price,
#total-price {
  font-weight: 600;
  font-size: larger;
}

#subtotal-price,
#total-price {
  margin-left: 30%;
  margin-top: -2%;
  margin-bottom: 5%;
  font-size: 130%;
}

#total-price {
  text-decoration: underline;
}

#subtotal,
#totalSum {
  margin-top: 5%;
}

.cartItems {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.cartInfo-title {
  margin-top: 10px;
  margin-bottom: 50px;
}

.cartIMG {
  display: grid;
}

.cartInfo-title {
  cursor: pointer;
}

.cart-image {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 25%;
  min-width: 100px;
  border-radius: 10px;
  cursor: pointer;
}

.cart-image:hover {
  opacity: 0.8;
}

.counterIconContainer {
  justify-self: end;
  display: flex;
}

.quantity-number {
  width: 50px;
  text-align: center;
  margin: 1%;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;

  border-radius: 26px;
  color: var(--blue-base);
  border: 2px solid var(--black-blue-base);
}

.increase-icon,
.decrease-icon {
  width: 25px;
  height: auto;
  cursor: pointer;
  justify-self: center;
  transition: transform 0.3s ease;
}

.increase-icon:hover,
.decrease-icon:hover {
  transform: scale(1.2);
}

.counter-icon-div {
  justify-content: center;
  width: 60px;
  height: 25px;
  margin-top: 8%;
  margin-bottom: 8%;
  display: flex;
}

.checkoutBTN {
  margin-top: 10px;
  margin-left: 41vw;
  width: 30%;
  min-width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--light-blue-base);
  background-color: var(--light-blue-base);
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
  font-size: 120%;
  transition: transform 0.3s ease-in-out;
}

.checkoutBTN a {
  color: var(--white);
}

.checkoutBTN:hover {
  color: var(--white);
  border-color: var(--bright-hover-blue-base);
  background-color: var(--bright-hover-blue-base);
  transform: translate(0, 0) scale(1.04);
  box-shadow: 0px 4px 20px var(--overlay-faded-black);
}

._allGames {
  background-color: var(--white);
  border-color: var(--light-blue-base);
  color: var(--light-blue-base);
}

@media screen and (max-width: 480px) {
  .checkoutPage {
    margin-top: 20%;
  }
}

@media screen and (max-width: 650px) {
  .checkoutBTN {
    margin-left: 0;
    justify-self: center;
  }

  #subtotal-price,
  #total-price {
    margin-left: 78%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 768px) {
  .checkoutPage {
    margin-top: 15%;
  }
}

@media screen and (max-width: 1023px) {
  .checkout-page {
    margin-top: 25%;
  }
}
