.loggedInUser-info {
  margin-top: 10%;
  margin-right: 15%;
  display: none; /*------------------- WHAT DO WE DO WITH THE USER DETAILS? ---*/
}

.userInfoMember,
.userInfoMail,
.userInfoLogOut {
  margin-top: 0.4%;
  text-align: end;
  font-size: 14px;
  color: var(--light-blue-base);
}

.userInfoLogOut {
  text-decoration: underline;
}

/*--------------------------------------*/

#checkoutTitle {
  font-size: 200%;
  margin-bottom: 1%;
}

.cart-image {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 25%;
  border-radius: 10px;
  cursor: pointer;
}

.cart-image:hover {
  opacity: 0.8;
}

.radioBTN {
  margin: 2%;
  cursor: pointer;
}

#delivery-text {
  cursor: pointer;
}

#promoLabel,
.promo-label,
.delivery-label {
  margin-bottom: -1%;
  color: var(--logo-dark-blue);
}

.promo-label {
  margin-top: 5%;
}

#promoInput {
  cursor: pointer;
  max-width: 200px;
  transition: transform 0.3s ease-in-out;
}

#promoInput:hover {
  transform: translate(0, 0) scale(1.04);
}

#subtotal,
#subtotal-price,
.total-price,
#total-price {
  font-weight: 600;
  font-size: larger;
}

#subtotal-price,
#total-price {
  margin-left: 30%;
  margin-top: -2%;
  margin-bottom: 5%;
  font-size: 130%;
}

#total-price {
  text-decoration: underline;
}

#subtotal,
#totalSum {
  margin-top: 5%;
}

.cartInfo-title {
  margin-top: 10px;
  margin-bottom: 50px;
}

.quantity-number {
  width: 50px;
  background-color: var(--light-blue-base);
  color: var(--white);
  text-align: center;
  margin-bottom: 1%;
  padding: 12px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
}

.increase-icon,
.decrease-icon {
  width: 25px;
  height: auto;
  margin-left: 14px;
  cursor: pointer;
}

.increase-icon:hover,
.decrease-icon:hover {
  width: 30px;
  height: auto;
  margin-left: 12px;
}

.counter-icon-div {
  justify-content: center;
  width: 60px;
  height: 25px;
  margin-bottom: 1%;
}

.checkout-page {
  position: relative;
  margin: 15%;
  margin-top: 10%;
  justify-content: center;
  font-size: 100%;
  display: grid;
}

.checkoutBTN {
  margin-top: 10px;
  margin-left: 45vw;
  width: 30%;
  min-width: 250px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--light-blue-base);
  background-color: var(--light-blue-base);
  color: var(--white);
  transition: 0.3s;
  cursor: pointer;
  font-size: 120%;
  transition: transform 0.3s ease-in-out;
}

.checkoutBTN a {
  color: var(--white);
}

.checkoutBTN:hover {
  color: var(--white);
  border-color: var(--bright-hover-blue-base);
  background-color: var(--bright-hover-blue-base);
  transform: translate(0, 0) scale(1.04);
}

._allGames {
  background-color: var(--white);
  border-color: var(--light-blue-base);
  color: var(--light-blue-base);
}

@media screen and (max-width: 500px) {
  .logoCheckout .logo {
    margin-top: 10%;
    margin-left: 15%;
  }

  .loggedInUser-info {
    margin-top: 30%;
    margin-right: 15%;
  }

  #subtotal-price,
  #total-price {
    margin-left: 78%;
    margin-bottom: 2%;
  }
}

@media screen and (max-width: 650px) {
  .checkoutBTN {
    margin-left: 0;
  }
}
