.checkout-success {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 15%;
}

.success {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  justify-items: center;
}

.purchase-image {
  width: 25%;
  border-radius: 10px;
  margin-top: 5%;
}

#success-h2 {
  margin-bottom: 5%;
  font-size: 48px;
}

#thanksH3 {
  margin-top: 5%;
  font-size: 38px;
}

.successMessage {
  margin-top: 2%;
  font-size: 22px;
}

@media screen and (max-width: 1000px) {
  .checkout-success {
    margin-top: 25%;
  }
}
