.articleColumn {
  display: grid;
  grid-column: 1 / -1;
  margin-bottom: 10%;
}

.articleTitle {
  margin: 1%;
  cursor: pointer;
  text-align: center;
  color: var(--dark-blue-base);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.articleTitle:hover {
  color: var(--bright-hover-blue-base);
}

.articleIMG {
  justify-self: center;
  cursor: pointer;
  width: 60%;
  max-width: 1024px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.articleIMG:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 20px var(--overlay-faded-black);
}

@media (max-width: 1000px) {
  .articleTitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .articleColumn {
    grid-column: 1;
  }

  .articleTitle {
    font-size: 1.2rem;
  }
}
