.articleColumn {
  display: grid;
  grid-column: 1 / -1;
  margin-bottom: 5%;
}

.articleTitle {
  margin: 1%;
  cursor: pointer;
  text-align: center;
  font-size: 3.2rem;
  color: var(--dark-blue-base);
  font-family: "Thunder", sans-serif;
  font-weight: 400;
}

.articleTitle:hover {
  color: var(--bright-hover-blue-base);
}

.articleIMG {
  justify-self: center;
  cursor: pointer;
  width: 80%;
}

@media (max-width: 1000px) {
  .articleTitle {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  .articleColumn {
    grid-column: 1;
  }

  .articleTitle {
    font-size: 1.4rem;
  }
}
