.details-wrapper {
  display: grid;
}

.discount-price {
  color: var(--discount-red);
  font-weight: bold;
}

.productIMG {
  width: 60%;
  height: auto;
  margin-left: 5%;
  position: relative;
  border-radius: 10px;
}

.cartWindow {
  position: relative;
  margin-top: -5%;
  margin-bottom: 2%;
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

#cartWindow-box {
  display: grid;
  margin-left: 15%;
  justify-self: center;
  width: fit-content;
  height: auto;
  max-height: 420px;
  padding: 10%;
  border-radius: 10px;
  gap: 40px;
}

.title {
  margin-top: 5%;
  display: grid;
}

.title p {
  color: var(--blue-base);
  font-size: 320%;
  font-family: "Thunder", sans-serif;
  letter-spacing: 3px;
}

.tagline {
  font-size: 20px;
  line-height: 1.2;
}

.tagline p {
  margin-top: 5%;
  justify-self: center;
  color: var(--blue-base);
}

.addToCartBTN {
  background-color: var(--white);
  border-color: var(--blue-base);
  color: var(--blue-base);
  border-style: solid;
  border-radius: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 15px;
  max-width: 180px;
  height: min-content;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.addToCartBTN a {
  color: var(--blue-base);
}

.addToCartBTN:hover {
  background-color: var(--faded-hover-white);
  transform: scale(1.1);
}

#productBox1 {
  background-color: var(--blue-base);
  border: none;
  display: grid;
  width: 100vw;
  height: 100%;
  padding: 5%;
}

.productText {
  margin-left: 12%;
  margin-right: 1%;
  margin-top: 2%;
  max-width: 59%;
}

.productText p {
  color: var(--white);
  line-height: 1.5;
  font-size: 20px;
}

.productTextIcons {
  position: relative;
  display: grid;
  margin-top: -10%;
  width: max-content;
  margin-left: 73%;
}

.productTextIcons img {
  width: 100%;
}

.gamingIcons {
  width: 100vw;
  margin-left: 12%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.gamingIcons img {
  position: relative;
  width: 80%;
  max-width: 100%;
  height: auto;
}

.seperationLine {
  margin-left: 80px;
  margin-right: 80px;
}

@media screen and (max-width: 1023px) {
  .cartWindow {
    margin-top: 15%;
  }

  #cartWindow-box {
    gap: 5px;
    margin-left: 0;
  }

  #backArrow {
    display: none;
  }

  .tagline p {
    font-size: 18px;
    margin: 10px;
    margin-left: 0;
  }

  .productText {
    margin-left: 8%;
    margin-right: 1%;
    max-width: 80%;
  }

  .productTextIcons {
    margin-left: 60vw;
    margin-top: 1%;
  }
}

@media screen and (max-width: 770px) {
  .title p {
    font-size: 30px;
    font-weight: 500;
  }
}

@media screen and (max-width: 650px) {
  .cartWindow {
    grid-template-columns: auto;
  }

  .productIMG {
    height: auto;
    margin-top: 5%;
    margin-left: 20vw;
  }

  .productText {
    margin-bottom: 5%;
  }

  .productTextIcons,
  .productText {
    justify-self: center;
    margin-left: 0;
  }
}
